:root {
    --light-grey: rgb(202, 196, 196);
    --blue: #388bfc;
}

.light-grey {
    background-color: var(--light-grey);
}

.light-grey-text {
    color: var(--light-grey);
}

.location {
    margin-top: 1em;
    display: flex;
}

.follower {
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    padding: 12px;
    border-bottom: 1px solid#ddd;
}

#followers {
    overflow-y: scroll;
    height: calc(100vh - (64px + 4.2rem));
}

.follower-avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.follower-name {
    font-size: 16px;
}

#repos {
    overflow-y: scroll;
    height: calc(100vh - (64px + 4.2rem));
}

.repo {
    margin-top: 0.5em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-bottom: 1px solid #ddd;
    color: var(--bg-dark);
}

.repo .name {
    font-size: 20px;
    color: var(--blue);
}

.repo .description {}

.repo .stat {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

.repo .stats {
    justify-content: start;
    margin-top: 2em;
}
.repo .stat:last-child{
    align-self: flex-end;
    margin-left: auto;
}

.user-information {
    margin: 5px auto;
    width: max-content;
}

.user-avatar {
    border-radius: 50%;
    display: block;
    margin: 1em auto;
    border: 1px solid #ddd;
    max-width: 260px;
    max-height: 260px;
    width: 100%;
    height: auto;
}

.user-name+.user-login {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji
}

.user-name {
    font-size: 26px;
    line-height: 1.25px;
    font-weight: 600;
}

.user-login {
    font-size: 20px;
    font-weight: 300;
}

.stats {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: fit-content; */
    align-items: flex-start;
}

 .stat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 15px;
}

.stat i.material-icons {
    margin-right: 2px;
}

.stat span:first-child {
    display: flex;
}

.stat span text{
    color: gray;
}