#home_graphic {
  background-image: url(../../assets/images/undraw_developer_activity_bv83.svg);
  background-size: contain;
  background-position: center;
  /* background-color: antiquewhite; */
  height: 64vh;
  margin: 5vh 0;
  background-repeat: no-repeat;
}
