:root {
  --bg-dark: #0d1117;
}

.bg-dark {
  background-color: var(--bg-dark);
}

.brand-logo > img {
  height: 50px;
  margin: 5px 30px;
}

nav form {
  padding: 5px 0;
  width: 50%;
  margin: 0 auto;
}
nav form i {
  line-height: calc(64px - 7px) !important;
}

#search {
  border-radius: 0.4em;
  color: white;
  cursor: pointer;
}
#search:focus {
  background-color: #323333;
}

#content {
  padding-bottom: 2.5rem;
}
#footer p {
}
