@media (min-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.grid {
    display: grid;
    margin: 0 auto;
    grid-gap: 1rem;
}

#result_list {
    padding: 0 1rem;
}

.card {
    margin: 0!important
}